.hidden {
    display: none;
}

/* Utility Links block */
.store-cart-empty .store-cart-link {
    display: none;
}

/* Loading/Modal */
.store-whiteout {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

/* Cart Modal container */
.store-product-modal, .store-cart-modal {
    background: #fff;
    position: relative;
    top: 15%;
    width: 100%;
    max-width: 600px;
    max-height: 75%;
    overflow: auto;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.store-modal-exit {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    right: 5px;
    top: 2px;
    color: #ccc;
    cursor: pointer;
}

.store-modal-exit:hover {
    color: #888;
    text-decoration: none;
}

/* Spinner */
.store-spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    background: #fff;
    padding: 20px;
}

.store-spinner {
    min-width: 26px;
    min-height: 26px;
}

.store-spinner:before {
    content: '...';
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -14px;
    margin-left: -14px;
    font-size: 36px;
    line-height: 16px;
    font-family: arial, san-serif; /* Non animation fallback */
}

.store-spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, .2);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
    box-sizing: content-box;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}

/* Checkout Page Component Visibility */
.store-checkout-form-group-body {
    display: none;
}

.store-checkout-form-group-summary {
    display: none;
}

.store-checkout-form-group-complete .store-checkout-form-group-summary {
    display: block;
}

#store-checkout-form-group-signin .store-checkout-form-group-body {
    display: block;
}

.store-active-form-group .store-checkout-form-group-body {
    display: block;
}

.store-checkout-code-form {
    display: none;
}

@media screen and (max-width: 768px) {
    .store-cart-page .store-cart-page-cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
}