
.group-list { margin: 30px 0 50px !important; }
    
    .group-list li { margin-bottom: 8px; }
    .group-name { display: inline-block; padding-right: 30px; width: 180px; }
    .group-list input[type="text"] { width: 180px; }
    .group-list .hideme { display: none !important; }

#group-filters { margin: 0 0 30px; }
    #group-filters li a { transition: .2s ease all; }

.store-pane { display: none; }
.store-pane.active { display: block; }

/* Multiple Image selector */
.ccm-ui .multi-select-list {margin-bottom: 0}
.multi-select-sortable li {cursor: move}
.ccm-ui .multi-select-list li:last-child {margin-bottom: 10px;}
.multi-select-list img {max-width: 60px!important; display: inline!important; margin-right: 10px;}
.multi-select-list .fa {cursor: pointer}
.multi-select-list a:hover {color: red}

/* Options */
#product-options-container {  }
    .option-group {  }
    
        .option-group .panel-heading, .option-group .panel-heading .fa-arrows { cursor: move; }
        .option-group .panel-heading .fa-arrows { margin: 3px 0 0; }
        .option-group .panel-heading label { display: block; margin-top: 4px; }
        
#tax-rules-group select { margin-bottom: 8px; }

/* Sales reports */
.chartist-tooltip { position: absolute; background: #414d59; color: #97aabc; padding: 8px 15px; text-align: center; }

.order-report-form { margin-top: 15px; }

.ct-chart-line .ct-series.ct-series-a .ct-line { stroke: #4ECDC4; stroke-width: 3px; stroke-linecap: round; }
.ct-chart-line .ct-series.ct-series-a .ct-point { stroke: #4674a1; }
.ct-chart-line .ct-series.ct-series-b .ct-line { stroke: #4674a1; stroke-width: 2px; stroke-linecap: round; }
.ct-chart-line .ct-series.ct-series-b .ct-point { stroke: #414d59; }
.ct-chart-line .ct-series.ct-series-c .ct-line { stroke: #414d59; stroke-width: 2px; stroke-linecap: round; stroke-dasharray: 30px 10px; }
.ct-chart-line .ct-series.ct-series-c .ct-point { stroke: #303b48; }
