desktop.ini
.idea
.project
.DS_Store
thumbs.db
/.settings/
/.buildpath
vendor
.php_cs.cache
products.php.orig
/node_modules/
package-lock.json
/docs/.vuepress/dist/
docs/.idea/docs.iml
docs/.idea/modules.xml
docs/.idea/workspace.xml
components
languages
