.store-original-price {
    text-decoration: line-through;
}

.store-product-list-sort {
    margin-top: 15px;
}

.store-product-list-block hr.store-product-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}
